In [4]:
#Ridhwaan Ali
#Read csv
import pandas as pd
df= pd.read_csv("budget_data.csv")
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [5]:
#Total Months
totalmonths= len(df)
print ("Total Months:", totalmonths)

Total Months: 86

In [6]:
#Net total of P/L
net= df['Profit/Losses'].sum()
print ("Total Profit/Losses:$", net)

Total Profit/Losses:$ 22564198

In [9]:
#Average Change
profits= df['Profit/Losses']
change= sum(profits)/len(profits)
print ("Average: $", change)

Average: $ 262374.3953488372

In [11]:
#Greatest Increase
profit_inc= max(profits)
print ("The Greatest increase: $", profit_inc)

The Greatest increase: $ 1141840

In [12]:
#Greatest Decrease
dec= min(profits)
print("The Greatest Decrease: $", dec)

The Greatest Decrease: $ -1194133