In [1]:
#ridhwaan ali
import pandas as pd
df= pd.read_csv("election_data.csv")
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [2]:
#total votes
vote= len(df)
print ("Total Votes:",vote)

Total Votes: 369711

In [3]:
cand= df[['Candidate']].drop_duplicates()
cand

                     Candidate
0      Charles Casper Stockham
19723            Diana DeGette
37686     Raymon Anthony Doane

In [4]:
charles= df[df['Candidate']=='Charles Casper Stockham']
diana= df[df['Candidate']=='Diana DeGette']
raymond= df[df['Candidate']=='Raymon Anthony Doane']
ctotal= len(charles)
dtotal= len(diana)
rtotal= len(raymond)
print ("Charles", ctotal, "Diana", dtotal, "Raymond", rtotal)

Charles 85213 Diana 272892 Raymond 11606

In [5]:
winner= df[['Candidate']].max()
print ("Winner", winner)

Winner Candidate    Raymon Anthony Doane
dtype: object