In [3]:
#ridhwaan ali
import pandas as pd
df= pd.read_csv("election_data.csv")
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [6]:
vote= len(df)
print ("Total Votes:",vote)

Total Votes: 369711

In [17]:
cand= df[['Candidate']].drop_duplicates()
cand

                     Candidate
0      Charles Casper Stockham
19723            Diana DeGette
37686     Raymon Anthony Doane

In [48]:
charles= df[df['Candidate']=='Charles Casper Stockham']
diana= df[df['Candidate']=='Diana DeGette']
raymond= df[df['Candidate']=='Raymon Anthony Doane']
ctotal= len(charles)
dtotal= len(diana)
rtotal= len(raymond)
print ("Charles", ctotal, "Diana", dtotal, "Raymond", rtotal)

Charles 369711 Diana 0 Raymond 0

In [50]:
winner= df[['Candidate']].max()
print ("Winner", winner)

Winner Candidate    Charles Casper Stockham
dtype: object